.data {
    margin: 28px 18px;
    @media (min-width: map-get($breakpoints,large)) {
        margin: 28px 0px 0px 42px;
    }
    .form {
        @extend .center-div;
        justify-content: space-around;
        margin: 1px 6px 1px 6px;
        @media (min-width: map-get($breakpoints,large)) {
            margin: 0%;
            justify-content: space-around;
            margin-right: 200px;
        }
    }
    .line {
        @extend .center-div;
        background-color: $--light-grey;
        opacity: 0.6;
        width: 90%;
        height: 1.5px;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        left: 0%;
        right: 10%;
        transform: translateY(3500%);
        @media (min-width: map-get($breakpoints,large)) {
            width: 85%;
            margin: 0 10px;
            transform: translateY(2200%);
        }
    }
}
