.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app {
    @extend .center-div;
    width: 375px;
    height: 600px;
    border: 1px solid black;
    background-color: $--off-white;

.container {
    width: 360px;
    height: 450px;
    background-color: $--white;
    border-radius: 15px;
}
label{
    font-size: 10px;
    color: $--smokey-grey;
    letter-spacing:0.1rem;
    font-weight: bold;
}
input{
    width: 38px;
    height: 16px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid $--light-grey;
    box-sizing: content-box;
    border-radius: 5px;
}
}

